################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab2/.vs/Lab2/FileContentIndex/15cd8914-2c15-43a0-b946-52348a55ebd3.vsidx
/Lab2/.vs/Lab2/FileContentIndex/181faa9e-5b67-45c7-8aba-6cb6ea708795.vsidx
/Lab2/.vs/Lab2/FileContentIndex/313061b2-24e0-413f-9ccc-5a71559637b5.vsidx
/Lab2/.vs/Lab2/FileContentIndex/3f8ba9bc-bf09-4362-835c-b4f5053b7113.vsidx
/Lab2/.vs/Lab2/FileContentIndex/aa1792e7-90c2-4ec9-b45d-c21a01a85257.vsidx
/Lab2/.vs/Lab2/FileContentIndex/b3f2a11f-04ce-4b67-85a2-c2cc9abed5d2.vsidx
/Lab2/.vs/Lab2/FileContentIndex/cea48e7b-ec61-4b76-be59-c433e0250311.vsidx
/Lab2/.vs/Lab2/FileContentIndex/e5584a69-d853-4104-9cde-a6e0abbd149e.vsidx
/Lab2/.vs/Lab2/FileContentIndex/f72d5180-f0b5-4b25-8bf9-eccae88f4af9.vsidx
/.vs/23521650-DoDucMinhTriet/FileContentIndex/521184c5-c2c0-4f72-907d-b532bc85b552.vsidx
/.vs/23521650-DoDucMinhTriet/FileContentIndex/ee5c093b-c4cd-486c-a4a0-45aebd59f29e.vsidx
/.vs/23521650-DoDucMinhTriet/v17/.wsuo
/.vs/23521650-DoDucMinhTriet/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Lab2/.vs/Lab2/v17/.suo
/Lab2/.vs/Lab2/v17/DocumentLayout.backup.json
/Lab2/.vs/Lab2/v17/DocumentLayout.json
/Lab2/.vs/Lab2.csproj.dtbcache.json
.vs/